# Python
__pycache__/
*.pyc
venv/

# Environment variables file
.env

# Google Credentials file
mpbot-qa-registrationtm-823771788cbc.json

# Local database file (if 'db' folder contains local database)
db/
